# Workflow to run tests
name: Test suite

# Controls when the workflow will run
on:
  # Triggers the workflow on pushes to the "main" branch, i.e., PR merges
  push:
    branches: [ "main" ]

  # Triggers the workflow on pushes to open pull requests with code changes
  pull_request:
    paths:
      - '.github/workflows/testing.yaml'
      - '**.py'
      - '**data/*'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Cancel jobs running if new commits are pushed
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# Write permissions are not required, but we need read access to a private repo
permissions:
    contents: read

jobs:
  build:
    name: Build & test (${{ matrix.python-version }} | ${{ matrix.os }})
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        # Supported Python versions on Linux Ubuntu
        os: ["ubuntu-latest"]
        python-version: ["3.13", "3.12", "3.11", "3.10"]
        # test latest python version on macOS and Windows
        include:
        - os: "macos-latest"
          python-version: "3.13"

    # Terminate the job if it runs for more than 10 minutes
    timeout-minutes: 10

    # Steps represent a sequence of tasks that will be executed as part of the job
    # Checkout, install, run tests
    steps:

    - name: Checkout code
      with:
        persist-credentials: false
      uses: actions/checkout@v4

    - name: Install Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Package and Dependencies
      run: |
        python -m pip install --upgrade pip
        python -m venv clubbinn_venv
        . clubbinn_venv/bin/activate
        pip install .[dev]

    - name: Run tests
      run: |
        cd ${{ github.workspace }}
        . clubbinn_venv/bin/activate
        pytest ./
